logging.h filter=lfs diff=lfs merge=lfs -text
ring.c filter=lfs diff=lfs merge=lfs -text
ring.h filter=lfs diff=lfs merge=lfs -text
clatd.c filter=lfs diff=lfs merge=lfs -text
clatd_test.cpp filter=lfs diff=lfs merge=lfs -text
common.h filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
ipv6.c filter=lfs diff=lfs merge=lfs -text
dump.h filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
netlink_msg.c filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
setif.c filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
debug.h filter=lfs diff=lfs merge=lfs -text
ipv4.c filter=lfs diff=lfs merge=lfs -text
logging.c filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
setif.h filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
BUGS filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
vendor-464xlat.rc filter=lfs diff=lfs merge=lfs -text
getaddr.c filter=lfs diff=lfs merge=lfs -text
getaddr.h filter=lfs diff=lfs merge=lfs -text
netlink_msg.h filter=lfs diff=lfs merge=lfs -text
translate.c filter=lfs diff=lfs merge=lfs -text
dump.c filter=lfs diff=lfs merge=lfs -text
icmp.c filter=lfs diff=lfs merge=lfs -text
icmp.h filter=lfs diff=lfs merge=lfs -text
main.c filter=lfs diff=lfs merge=lfs -text
netlink_callbacks.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
clatd.h filter=lfs diff=lfs merge=lfs -text
netlink_callbacks.h filter=lfs diff=lfs merge=lfs -text
translate.h filter=lfs diff=lfs merge=lfs -text
